<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home</title> 
    <link rel="stylesheet" href="/stylehome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="icon" type="image/x-icon" href="C:\Users\ibrah\AppData\Local\Temp\c5981583-436e-41eb-a3dc-df10a97a0910_favicon_package_v0.16.zip.910\favicon-32x32.png">
</head>
<body>    
    <nav>
        <div class="menu">
          <div class="logo">
            <a href="#">Omar Mukhthar</a>
          </div>
          <ul>
            <li><a href="#">Home</a></li>
            <form action="/aboutme" method="post"></form>
            <li><a href="aboutme">About Me</a></li>
            <form action="/logout" method="post"></form>
            <li><a href="/">Signout</a></li>
            
          </ul>
        </div>
      </nav>
      <div class="img"></div>
      <div class="center">
        <div class="title">This is my First backend project </div>
        <div class="sub_title">Using NodeJs,ExpressJs,MongoDb</div>
        <div class="btns">
         > <button>Thank You</button>
         
        </div>
      </div>

</body>
</html>